body {
    background-color: #121212;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 2em;
    margin-top: 20px;
}

.form-control {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #ffffff;
    font-size: .8em;
}

.form-control::placeholder {
    color: #777;
}

.btn-primary {
    background-color: #f80103;
    border-color: #fff;
}

.btn-primary:hover {
    background-color: #a60000;
    border-color: #fff;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
    background-color: #f80103;
    border-color: #a60000;  
}

#login-link a {
    cursor: pointer;
}

.d-none {
    display: none;
}
.logo-img {
    position: absolute;
    top: 80px; /* Ajusta según tu diseño */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
}